* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Karla", serif;
    color: #164309;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e4f3e4 ;
}

h1{
    color: #164309;
    margin-bottom: 20px;
    font-size: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 40vw;
    padding: 40px;
    gap: 25px;
    background: #ffff;
    border-radius: 25px;

}

.erro {
    color: #ff0000;
    font-size: 14px;
    margin-top: 4px;
    display: block;
}

.containerNome{
    display: flex;
    width: 100%;
    gap: 10px;

}

.inputNome{
    height: 45px;
    width: 100%;
    margin-right: 35px;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border: solid 1px #0c7d69;
}

.containerEmail{
    display: grid;
    width: 100%;
}

.inputEmail{
    height: 45px;
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border: solid 1px #0c7d69;
}

.containerConsulta{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.consultaOpcoes{
    display: flex;
    width: 100%;
    gap: 10px;
}

.consultaOpcoes label {
    width: 100%;
}

.btnConsulta{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    font-size: 18px;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #0c7d69;

}

.consultaInput{
    cursor: pointer;
    border-style: dashed;
    
}

.containerMensagem{
    display: grid;
    width: 100%;
    gap: 10px;
}
#inputMensagem{
    height: 85px;
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border: solid 1px #0c7d69;
}

#btnenviar{
    cursor: pointer;
    height: 85px;
    width: 70%;
    color: #ffff;
    background-color: #0c7d69;
    font-size: 20px;
    border-radius: 15px;
    border: none;
}

#btnenviar:hover{
    opacity: 0.8;
}

#btnenviar:active{
    opacity: 0.6;
}

.labelMensagem{
    display: grid;
    width: 100%;
}

